html{
	box-sizing: border-box;
}
*,*:before, *:after{
	box-sizing: inherit;
}

body{

	margin: 0 auto;
	font-size: 100%;
	
}
.nav{
	background: #206046;
	color: white;
	height: 4.375em; /* 70/30 */
	width: 75em; /* 1200/16 */
	margin: 0 auto;
}
.fab{
	color: white;
	font-size: 1.875em; /* 30/16 */
	margin-top: 0.66em; /* 20/16 */
	padding-left: 0.5em; /* 15/16 */
	padding-right: 0.5em; /* 15/16 */
}
.fa-envelope{
	font-size: 1.75em; /* 28/16 */


}

p.navp{
	display: inline-block;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 0.875em; /* 14/16 */
    font-weight: bold;
    vertical-align: super;
}
.fas{
    
    color: white;
	font-size: 1.5625em; /* 25/16 */
	margin-top: 0.8em;  /* 20/25 */
}
.navpp{
    display: inline-block;
    font-family: 'PT Sans', 'Roboto';
    font-size: 0.875em;  /* 14/16 */
    font-weight: bold;
    vertical-align: super;
}
.left{
	float: right;
	width: 20em; /* 400/20 */
	font-size: 1.25em; /* 20/16 */
	margin: 0;
		
}
.sekcia{
    background: #F7FCFC;
    width: 78.125em; /* 1250/16 */
    padding: 0 1.25em; /* 20/16 */
    margin: 0 auto;
    margin-top: 1.875em; /* 30/16 */
    margin-bottom: 3.75em; /* 60/16 */
}
h1{
	font-family: sans-serif;
	font-size: 2.1875em; /* 35/16 */
}
span{
	letter-spacing: 0.21em;
}
.z1{
	list-style: none;
}
li{
	height: 1.25em; /* 20/16 */
}
ul a{
	color: #206046;
}
.mail{
	
	}
.ces{
	margin: 0;
	font-family: sans-serif;
}
.tel{
	width: 7.1875em; /* 115/16 */
	margin-top: 0.625em; /* 10/16 */
	font-family: 'PT Sans', 'Roboto';
	margin-bottom: 1.125em; /* 18/16 */

}
.prvy{
	color: #206046;
	font-size: 1em;
	margin-top: 0.4375em; /* 7/16 */
    
}
.fa-envelope.prva{
	font-size: 1em;
}

.druhy{
	color: #206046;
	font-size: 1em;
	padding-left: 0px;
	padding-right: 0px;
}
.fab.fa-facebook-f.druhy{
    padding-right: 0.375em; /* 6/16 */
    padding-left: 0.25em; /* 4/16 */
  
}

.jop{
	text-align: center;
	
}

.margin{
	float:left;
	width: 36.5625em; /* 585/16 */
    margin-right: 1.25em; /* 20/16 */
	position: relative;
    
}

.right{
	margin-right: 0;
}
.group:before, .group:after {
    content: " ";
    display: table;

}

.group:after {
    clear: both;
}
.group{
	
}
.wrap{
    padding: 0 1.25em; /* 20px / 16px fonsize */
	max-width: 1250px;  /* aby sa nevytvoril scroll bar ale prepocivalo*/
	margin: 0 auto;
}

.pole{
	position: absolute;
	width: 10.4166em; /* 250/24 */
	margin-left: 0px;
	height: 2.9166em;  /* 70/24 */
	background: #206046;
	opacity: 0.9;
    color: white;
    font-family: sans-serif;
}
.esp{
	opacity: 0.8;
	margin-top: -12.666em; /* 304/24 */
	text-align: center;
	padding-top: 0.75em; /* 18/24 */
}

 .dalsie{
	margin-top: -11.944em;  /* -215/18 */
	opacity: 0.98;
	font-size: 1.125em;  /* 18/16 */
	text-align: left;
	padding-left: 0.555em;  /* 10/18 */
    width: 13.889em;  /* 250/18 */
    height: 3.888em;  /* 70/18 */
   
}
.float{
	float: right;
	width: 4.444em;  /* 80/18 */
	letter-spacing: 0px;
	margin-right: 0.166em;  /* 3/18 */

}
.fas.fa-star{
	position: relative;
	font-size: 0.75em; /* 12/16 */
	padding: 0;
	margin: 0;
	
}

.info{
	margin-top: -9.062em; /* 145/16 */
	opacity: 0.7;
	height: 8.81em; /* 141/16 */
	line-height: 0.625em; /* 10/16 */
	width: 15.625em; /* 250/16 */
}
.blok{
	display: block;
	height: 2.0625em; /* 33/16 */
	font-size: 0.93em; /* 14/16 */
	font-weight: bold;

}
.blok>.fas{
	margin-left: 0.93em;   /* 15/16 */
	margin-right: 0.31em;   /* 5/16 */
	font-size: 1em; /* 16/16 */
	font-weight: bold;
}
.cena{
	background: red;
	color: white;
	padding-top: 0.421em;   /* 8/19 */
	width: 5.789em;    /* 110/19 */
	height: 1.842em;   /* 35/19 */
	font-size: 1.1875em;   /* 19/16 */
	text-align: center;
	font-weight: bold;
	margin-top: -3.157em;   /* 60/19 */
	margin-left: 24.3157em;  /* 462/19 */
	position: absolute;
}

.wrapper{
	margin: 0 auto;

}
.odkaz{
	text-align: center;
	background: orange;
	width: 8.125em; /* 130/16 */
	margin: 0 auto;
	padding: 0.8125em 0.8125em; /* 13/16 */ /* 13/16 */

}
.odkaz a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
}

.roluj{
	display: inline-block;
	margin: 1.294em 0;    /* 22/17 */
	font-size: 1.0625em; /* 17/16 */
	
}

img{
	max-width: 100%;
	height: auto;
}





@media (max-width:1250px) {
	.nav{
		width: 96%;
		font-size: 90%;
	}
	.left{
		font-size: 110%;
	}
	.sekcia{
		width: 100%;
	}
	h1{
		font-size: 140%;
	}
	ul{
		font-size: 90%;
	}
	.wrap{
		width: 100%;
		padding: 0 1.6%;   /* 20/1250 */
		margin: 0 auto;    /* musel by som zrusit inherit */
	}
	.margin{
		width: 46.8%;
		margin-right: 1.6%;  /* 20/1250 */
	}
    img{
    	width: 100%;
    }
    .right{
        width: 46.8%;
        margin-right: 0;
    }
    .pole{
    	width: 42.73%;
    	height: 23.333%;  /* 70/300 */
	}
	.esp{
		margin-top: -51.99%; /* 304/585 */
		padding-top: 3.076%; /* 18/585 */
		font-size: 140%;
	}
	.dalsie{
	    margin-top: -36.9%;  /* -215/585 */
	    padding-left: 1.709%;  /* 10/585 */
        
    }
    .roluj{
		margin: 10.42% 0;    /* 22/250 */
		font-size: 88%;
    }
    .float{
		width: 32%;  /* 80/250 */
		margin-right: 3.75%;
	}
	.fas.fa-star{
	    font-size: 65%;   
	}
    .info{
	    margin-top: -25.2%; /* 145/585 */
	    height: 47%; /* 141/300 */
	    line-height: 0.625em; /* 10/16 */
    }
    .blok{
    	height: 21.27%;  /* 30/141 */
    	font-size: 70%;
    }
    .cena{
		padding-top: 1.36%;   /* 8/585 */
	    width: 18.8%;    /* 110/585 */
	    height: 11.66%;   /* 35/300 */
	    font-size: 110%;
		margin-top: -10.25%;   /* 60/585 */
	    margin-left: 78.97%;  /* 462/585 */
	}
	.odkaz{
		width: 10.4%;
		padding: 1.04% 1.04%;
		font-size: 92%;
	}
}


@media (max-width:1115px){
	.nav{
		font-size: 80%;
	}
	.left{
		font-size: 100%;
	}
	h1{
		font-size: 130%;
	}
	ul{
		font-size: 80%;
	}
	.esp{
		font-size: 120%;
	}
	.roluj{
		font-size: 80%;
	}
	.fas.fa-star{
	    font-size: 51%;   
	}
	.blok{
    	font-size: 60%;
    }
    .cena{
		font-size: 100%;
	}
	.odkaz{
		font-size: 85%;
	}
}

@media (max-width:885px){
	.nav{
		font-size: 85%;
	}
	.left{
		font-size: 95%;
	}
	h1{
		font-size: 135%;
	}
	ul{
		font-size: 85%;
	}
	
	.margin{
		width: 80%;
		height: auto;
		float: none;
		margin: 0 auto;
	}
	.margin.right{
		width: 80%;
		height: auto;
		float: none;
		margin-top: 3.41%;
	}
	.esp{
		font-size: 120%;
	}
	.roluj{
		font-size: 80%;
	}
	.blok{
    	font-size: 60%;
    }
    .fas.fa-star{
	
	    font-size: 65%;   
	}
	.cena{
		font-size: 100%;
	}
}


@media (max-width:702px){
	.margin{
		width: 100%;
		height: auto;
		float: none;
		margin: 0 auto;
	}
	.margin.right{
		width: 100%;
		height: auto;
		float: none;
		margin-top: 3.41%;
	}
	.nav{
		font-size: 72%;
	}
	h1{
		font-size: 130%;
	}
	ul{
		font-size: 80%;
	}
	.fas.fa-star{
	
	    font-size: 71%;   
	}
	.esp{
		font-size: 130%;
	}
	.roluj{
		font-size: 100%;
	}
	.blok{
		font-size: 80%;
	}
	.cena{
		font-size: 110%;
	}
}


@media (max-width:595px){
	.nav{
		font-size: 60%;
	}

	h1{
		font-size: 120%;
	}
	ul{
		font-size: 70%;
	}
	.fas.fa-star{
	
	    font-size: 58%;   
	}
	.esp{
		font-size: 120%;
	}
	.roluj{
		font-size: 90%;
	}
	.blok{
		font-size: 70%;
	}
	.cena{
		font-size: 100%;
	}
	.odkaz{
		font-size: 62%;
	}
}

@media (max-width:490px){
    .nav{
		font-size: 50%;
	}
	h1{
		font-size: 110%;
	}
	ul{
		font-size: 65%;
	}
	.fas.fa-star{
	
	    font-size: 47%;   
	}
	.esp{
		font-size: 100%;
	}
	.roluj{
		font-size: 80%;
	}
	.blok{
		font-size: 60%;
	}
	.cena{
		font-size: 90%;
	}
	.odkaz{
		font-size: 57%;
	}
}


@media (max-width:410px){
    .nav{
		font-size: 45%;
	}
	
	h1{
		font-size: 95%;
	}
	ul{
		font-size: 55%;
	}
	.fas.fa-star{
	
	    font-size: 37%;   
	}
	.esp{
		font-size: 85%;
	}
	.roluj{
		font-size: 58%;
	}
	.blok{
		font-size: 45%;
	}
	.cena{
		font-size: 70%;
	}
	.odkaz{
		font-size: 52%;
	}
}


@media (max-width:295px){
    .nav{
		font-size: 40%;
	}
	
	h1{
		font-size: 90%;
	}
	ul{
		font-size: 50%;
	}
	.fas.fa-star{
	
	    font-size: 32%;   
	}
	.esp{
		font-size: 80%;
	}
	.roluj{
		font-size: 53%;
	}
	.blok{
		font-size: 40%;
	}
	.cena{
		font-size: 65%;
	}
	.odkaz{
		font-size: 45%;
	}
}

